element.style {
  width: 900px;
}

section.present {
  width: 1000px;
}

.reveal .slides {
  width: 900px;
  font-size: 30px;
}

.reval .slides section>* {
  mergin-left:  40;
  margin-right: 40;
  margin-bottom: 20;
}

.reveal pre code {
  font-size: 1.3em;
  line-height: 1.2;
}

.reveal pre {
  width: 100%;
  margin-left: 10%;
  margin-right 10%;
}
